@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "People";
}
<h2> Default People View</h2>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="ListPeople">List of People</a>
</li>